/* Lev1_1================================== */

.transform {
    width: 200px;
    height: 300px;
    border: 1px solid black;
    padding: 1%;
    margin: 1vh auto;
}

.box {
    background: tomato;
    border-radius: 20px;
    width: 100px;
    height: 100px;
    transition: all 1.5s linear;
    margin-left: 1%;
}

.transform:hover .box {
    transform: rotate(90deg) scale(1.5) translateX(90px);
    transition: all 1.5s linear;
}


/* Lev1_2================================== */

.transform1 {
    display: flex;
    flex-wrap: wrap;
    width: 70%;
    margin: 20% auto;
}

.transform1>div {
    background: green;
    color: #fff;
    transition: all 0.7s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
    width: 200px;
    height: 200px;
    border-radius: 20px;
}

.translate:hover {
    transform: translate(5rem, 5rem);
}

.translateX:hover {
    transform: translateX(-80px);
}

.translateY:hover {
    transform: translateY(80px);
}

.rotate:hover {
    transform: rotate(45deg);
}

.scale:hover {
    transform: scaleY(1.2);
}

.skew:hover {
    transform: skew(20deg, 20deg);
}